body{
  font-family: 'Inter';
}
span{
  box-sizing: border-box;
  font-size: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #D6D8DB;
}
button{
  outline: none;
  border: 1px solid #D6D8DB;
  background-color: #A2A6AC;
  font-size: 25px;
}

.inputfield-wrapper{
  display: flex;
  width: 440px;
}
.inputfield-wrapper span{
  width: 330px;
  height: 110px;
}
.inputfield-wrapper button{
  width: 110px;
  height: 110px;
  background-color: #D6D8DB;
}

.buttons-wrapper{
  display: flex;
}
.button-zero{
  width: 66%;
}

.keypad{
  width: 330px;
}

.keypad-row button {
  width: calc(330px/3);
  height: calc(330px/3);
}

.button-zero {
  width: 220px;
  height: 110px;
}
.button-calculate{
  width: 110px;
  height: 110px;
  background-color: #F58B00;
}

.action-buttons button{
  width: 110px;
  height: 110px;
  background-color: #F58B00;
}
